.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

html{
    word-break: break-all;
}

/* ナビバーここから */
#nav-drawer {
    position: relative;
    z-index:99;
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*チェックボックス等は非表示に*/
.nav-unshown {
    display:none;
}
#nav-open ,
#nav-open span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    z-index:9999;
}
#nav-open {
    position: absolute;
    top:20px;
    right:20px;
    width: 50px;
    height: 33px;
}
#nav-open span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00718C;
    border-radius: 4px;
}
#nav-open span:nth-of-type(1) {
    top: 0;
}
#nav-open span:nth-of-type(2) {
    top: 15px;
}
#nav-open span:nth-of-type(3) {
    bottom: 0;
}
#nav-input:checked + label {
    /* z-index:9999; */
}
#nav-input:checked + label span:nth-of-type(1) {
    -webkit-transform: translateY(15.5px) rotate(-45deg);
    transform: translateY(15.5px) rotate(-45deg);
    background-color:#fff;
}
#nav-input:checked + label span:nth-of-type(2) {
    opacity: 0;
    background-color:#fff;
}
#nav-input:checked + label span:nth-of-type(3) {
    -webkit-transform: translateY(-15.5px) rotate(45deg);
    transform: translateY(-15.5px) rotate(45deg);
    background-color:#fff;
}
#nav-input:checked + label div {
    display:none;
}
/* MENUの文字 */
#nav-open div {
    position:absolute;
    top:38px;
    color:#00718C;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    white-space: nowrap;
    font-family: urw-din, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}
/*閉じる用の薄黒カバー*/
#nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 9998;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}
/*中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9998;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100%;
    background: #8f8f8f;/*背景色*/
    opacity:0.9;
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(105%);
    transform: translateX(105%);/*左に隠しておく*/
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
}
#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
.nav-reserve-btn{
    width:270px;
    padding:8px 0 10px;
}
.nav-reserve-btn-sm{
    display:none;
}
.nav-title{
    font-size: 37px;
    letter-spacing: 3px;
    margin: 30px 0 30px;
}
.nav-li{
    font-size: 25px;
    letter-spacing: 3px;
    color:#fff;
}
.nav-li:hover{
    color:#fff;
}
.nav-li-sub{
    font-size: 14px;
}
@media (max-width:991px){
    #nav-content {
        width:100%;
        max-width:100%;
    }
    #nav-open {
        top: 15px;
        right: 15px;
        width: 30px;
        height: 24px;
    }
    #nav-open span {
        height: 2px;
    }
    #nav-open span:nth-of-type(1) {
        top: 0;
    }
    #nav-open span:nth-of-type(2) {
        top: 11px;
    }
    #nav-open span:nth-of-type(3) {
        bottom: 0;
    }
    #nav-input:checked + label span:nth-of-type(1) {
        -webkit-transform: translateY(15px) rotate(-45deg);
        transform: translateY(11px) rotate(-45deg);
    }
    #nav-input:checked + label span:nth-of-type(2) {
        opacity: 0;
    }
    #nav-input:checked + label span:nth-of-type(3) {
        -webkit-transform: translateY(-15px) rotate(45deg);
        transform: translateY(-11px) rotate(45deg);
    }
    /* MENUの文字 */
    #nav-open div {
        top:28px;
        left:50%;
        font-size: 10px;
    }
    .nav-reserve-btn{
        display:none;
    }
    .nav-reserve-btn-sm{
        margin:0 auto;
        display:block;
        width:270px;
        padding:8px 0 10px;
    }
}
/* ナビバーここまで */

/* ヘッダー */
.login-btn{
    position:absolute;
    top:10px;
    right:100px;
    width:300px;
}
.login-btn-sm{
    display:none;
}

/* サイドの文字 */
.left-text-parent{
    position:relative;
}
@media (max-width:991px){
    .left-text-parent{
        display:none;
    }
}
.left-text{
    position:absolute;
    left:-50px; 
    transform: rotate(90deg); 
    z-index: 1;
    color:gray;
}

/* ヘッダー背景 */
header{
    position:relative;
    height: 900px;
    background-color:#a1d4d1;
    background-size:700px auto;
    background-repeat:no-repeat;
}     
.header-img{
    float: right;
    max-width:100%;
    max-height:900px;
    animation-name           : fadeIn;  /* ルール名 */
    animation-duration       : 0.8s;            /* 実行時間 */
    animation-timing-function: ease;          /* 動き速度 */
    animation-delay          : 2s;            /* 開始遅延時間 */
    animation-iteration-count: 1;     /* 再生回数 */
    animation-direction      : normal;    /* 終了後の動き */
    opacity:0;
    animation-fill-mode: forwards; /*これで値を保持*/
}
@keyframes fadeIn { /*animetion-nameで設定した値を書く*/
    from {
        opacity: 1;
        transform: translate3d(-900px, 0, 0);
    } /*アニメーション開始時は不透明度0%*/
  
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    } /*アニメーション終了時は不透明度100%*/
  
}
.svg-draw-sm, .header-img-sm{
    display:none;
}
@media (max-width:991px) {
    /* スマホ、タブレット */
    .login-btn{
        display:none;
    }
    .login-btn-sm{
        display:block;
        position:absolute;
        top:15px;
        right:60px;
        width:150px;
    }
    header{
        height: 800px;
        background-color:#a1d4d1;
        background-size:400px auto;
        background-repeat:no-repeat;
    }
    .header-img-sm{
        float: right;
        max-width:100%;
        max-height:800px;
        animation-name           : fadeIn-sm;  /* ルール名 */
        animation-duration       : 0.8s;            /* 実行時間 */
        animation-timing-function: ease;          /* 動き速度 */
        animation-delay          : 2s;            /* 開始遅延時間 */
        animation-iteration-count: 1;     /* 再生回数 */
        animation-direction      : normal;    /* 終了後の動き */
        opacity:0;
        animation-fill-mode: forwards; /*これで値を保持*/
    }
    @keyframes fadeIn-sm { /*animetion-nameで設定した値を書く*/
        from {
            opacity: 1;
            transform: translate3d(0, 600px, 0);
        }
      
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        } 
    }
    .svg-draw, .header-img{
        display:none;
    }
    .svg-draw-sm, .header-img-sm{
        display:block;
    }
}

/* ロゴ */
.logo{
    position:absolute;
    width:150px;
    top:30px;
    left:30px;
}
@media (max-width:991px) {
    /* スマホ、タブレット */
    .logo{
        width:70px;
        top:15px;
        left:15px;
    }
}
/* ヘッダー文字 */
.header-text{
    position:absolute;
    top:270px;
    left:130px;
}
.header-text-img{
    width:700px;
    animation-name           : fadeIn-text-img;  /* ルール名 */
    animation-duration       : 2s;            /* 実行時間 */
    animation-timing-function: ease;          /* 動き速度 */
    animation-delay          : 3.2s;            /* 開始遅延時間 */
    animation-iteration-count: 1;     /* 再生回数 */
    animation-direction      : normal;    /* 終了後の動き */
    opacity:0;
    animation-fill-mode: forwards; /*これで値を保持*/
}
@keyframes fadeIn-text-img { /*animetion-nameで設定した値を書く*/
    from {
        opacity: 0;
    } /*アニメーション開始時は不透明度0%*/
  
    to {
        opacity: 1;
    } /*アニメーション終了時は不透明度100%*/  
}
.header-text-img-logo-sm{
    display:none;
}
.header-text-img-sm{
    display:none;
}
#svg-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color:#a1d4d1;
}
.effect-fede-header{
    transform : translate(0, 0);
}
.effect-fade-header.effect-scroll-header {
    transform : translate(0, -900px);
    transition : all 1000ms;
}
@media (max-width:991px) {
    /* スマホ、タブレット */
    .header-text{
        position:absolute;
        top:350px;
        left:30px;
    }
    .header-text-img{
        display:none;
    }
    .header-text-img-logo-sm{
        display:block;
        width:130px;
        margin:0 0 20px 5px;
        animation-name           : fadeIn-text-img;  /* ルール名 */
        animation-duration       : 2s;            /* 実行時間 */
        animation-timing-function: ease;          /* 動き速度 */
        animation-delay          : 3s;            /* 開始遅延時間 */
        animation-iteration-count: 1;     /* 再生回数 */
        animation-direction      : normal;    /* 終了後の動き */
        opacity:0;
        animation-fill-mode: forwards; /*これで値を保持*/
    }
    .header-text-img-sm{
        display:block;
        width:300px;
        animation-name           : fadeIn-text-img;  /* ルール名 */
        animation-duration       : 2s;            /* 実行時間 */
        animation-timing-function: ease;          /* 動き速度 */
        animation-delay          : 3s;            /* 開始遅延時間 */
        animation-iteration-count: 1;     /* 再生回数 */
        animation-direction      : normal;    /* 終了後の動き */
        opacity:0;
        animation-fill-mode: forwards; /*これで値を保持*/
    }

}
/* フェードイン */
.effect-fade {
    opacity : 0;
    transform : translate(0, 80px);
    transition : all 1000ms;
}
.effect-fade.effect-scroll {
    opacity : 1;
    transform : translate(0, 0);
}
/* concept */
#concept{
    margin: 50px 0;
}
.concept-title{
    margin: 50px 0 10px 0;
}
.concept-text1{
    margin:30px 0;
    font-family: 'Noto Sans JP', sans-serif; font-size:24px; font-weight:300;
}
.concept-text2{
    margin-bottom:60px;
    font-family: 'Noto Sans JP', sans-serif; 
    font-size:16px; 
    font-weight:400;
    letter-spacing: 0.6px;
    line-height: 30px;
}
.concept-text2-sm{
    margin-bottom:30px;
    display:none;
}
.concept-box-parent-sm{
    display:none;
}
.concept-box{
    margin:5px;
    width:280px;
}
.concept-box img{
    width:100%;
}
@media (max-width:991px) {
    #concept{
        margin: 30px 0;
    }
    .concept-title{
        height:20px;
        margin: 20px 0 10px 0;
    }
    .concept-text1{
        margin: 30px 0 25px;
        font-size:14px;
    }
    .concept-text2{
        display:none;
    }
    .concept-text2-sm{
        font-family: 'Noto Sans JP', sans-serif; 
        font-size:10px; 
        font-weight:200;
        display:block;
    }
    .concept-box-parent{
        display:none;
    }
    .concept-box-parent-sm{
        display:block;
    }
    .concept-box{
        margin:2.5px;
    }
}
/* WORK */
#works{
    margin-top:50px;
}
.work-title{
    margin-bottom:10px;
    height:30px;
}
.work-box-parent-sm{
    display:none;
}
.work-box{
    width:325px;
    height:430px;
    background-color:#f5f5f5;
    position:relative;
}
.work-image{
    position:relative;
    top:12px;
    left:12px;
    width:300px;
    height:200px;
    background-color:#c0c0c0;
}
.work-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.work-text1{
    position:absolute;
    top:220px; 
    left:15px; 
    width:290px; 
    text-align:left; 
    font-family: 'Noto Sans JP', sans-serif; 
    font-size:18px; 
    font-weight:700;
}
.work-text2{
    position:absolute; 
    top:255px; 
    left:15px; 
    width:290px; 
    text-align:left; 
    font-family: 'Noto Sans JP', sans-serif; 
    font-size:16px; 
    font-weight:400;
}
@media (max-width:991px) {
    .work-title{
        height:20px;
    }
    .work-box-parent{
        display:none;
    }
    .work-box-parent-sm{
        display:block;
    }
    .work-box-sm {
        position: relative;
        width:325px;
        padding-top: 75%;
        margin-bottom:-25%;
        background-color:#f5f5f5;
        max-height:430px;
    }
    .work-box-inner{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .work-image-sm{
        position:relative;
        padding:8px;
        width:100%;
    }
    .work-image-sm img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
    .work-text{
        position:relative;
        padding:0 8px;
        width:100%;
    }
    .work-text1-sm{
        text-align:left; 
        font-family: 'Noto Sans JP', sans-serif; 
        font-size:12px; 
        font-weight:700;
        margin:0;
    }
    .work-text2-sm{
        text-align:left; 
        font-family: 'Noto Sans JP', sans-serif; 
        font-size:10px; 
        font-weight:400;
        padding-top:3px;
    }
}

/* Instagram */
#instagram{
    margin-top:50px;
}
.instagram-title{
    margin-bottom:10px;
    height:40px;
}
.instagram-box{
    margin:10%;
}
.instagram-box-sm{
    display:none;
}
@media (max-width:991px) {
    .instagram-title{
        margin-top:10px;
        height:25px;
    }
    .instagram-box{
        display:none;
    }
    .instagram-box-sm{
        display:block;
        margin:0 10px 30px 10px;
    }
}

/* PRICE */
#price{
    padding:50px 0;
    background-color:#a1d4d1;
}
.price-title{
    margin-bottom:5px;
    height:30px;
}
.price-box{
    width:150px;
    margin:20px 70px;
}
.price-box img{
    width: 100%;
}
.price-box-text{
    margin-top:20px;
    border-bottom:dashed;
    border-color:#FFF;
    border-width:1px;
}
.price-box-text1{
    font-family: urw-din, sans-serif;
    font-weight: 600;
    font-size:12px;
    color:#00718C;
}
.price-box-text2{
    font-family: urw-din, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size:24px;
    color:#00718C;
}
.price-btn{
    margin:50px 0 10px 0;
    width:350px;
}
.price-btn-sm{
    display:none;
}
.price-text1{
    padding-top:30px;
    font-family: 'Noto Sans JP', sans-serif; 
    font-size:24px; 
    font-weight:400;
}
.price-text2{
    margin:30px 0 30px 0;
    font-family: 'Noto Sans JP', sans-serif; 
    font-size:16px; 
    font-weight:400;
}
.price-text2-sm{
    display:none;
}
@media (max-width:991px) {
    .price-title{
        height:20px;
    }
    .price-text1{
        font-family: 'Noto Sans JP', sans-serif; 
        font-size:14px; 
        font-weight:400;
        letter-spacing: 1.2px;
        line-height: 18px;
    }
    .price-text2{
        display:none;
    }
    .price-text2-sm{
        font-family: 'Noto Sans JP', sans-serif; 
        font-size:11px; 
        font-weight:400;
        display:block;
        letter-spacing: 0.7px;
        line-height: 18px;
    }
    .price-box{
        width: 130px;
        margin:30px 20px;
    }
    .price-btn{
        display:none;
    }
    .price-btn-sm{
        margin:50px auto 10px;
        width:300px;
        display:block;
    }
}


/* FLOW */
#flow{
    margin-top:50px;
    position:relative;
}
.flow-title{
    margin-bottom:5px;
    height:35px;
}
.flow-box-parent-sm{
    display:none;
}
.flow-box{
    position:relative;
    width:280px;
    height:400px;
}
.flow-image{
    /* ex 会員登録のボックス */
    position:absolute;
    top:10px;
    left:10px;
    width:260px;
    height:170px;
    vertical-align: middle;
    display: table;
}
.flow-image-text{
    /* ex 会員登録のボックスのテキスト要素 */
    display: table-cell;
    vertical-align: middle;
}
.flow-image-top{
    /* ex 会員登録 */
    font-family: 'Noto Sans JP', sans-serif; 
    font-size:24px; 
    font-weight:400;
}
.flow-image-sub{
    /* ex RESERVATION */
    color:#a1d4d1;
}
.flow-text{
 
    position:absolute;
    width:280px;
    top:190px;
    left:10px;
    text-align:left;
    font-family: 'Noto Sans JP', sans-serif; 
    font-size:16px; 
    font-weight:400;
}
.flow-allow{
    position:relative;
    top:100px;
    left:-40px;
    width:60px;
    height:1.5px;
    background-color:#00718C;
    z-index:1;
}
.flow-allow:before{
    content: "";
    position:absolute;
    transform:rotate(45deg);
    display:block;
    right:-5px;
    top:-10.5px;
    width:30px;
    height:1px;
    background-color:#00718C;
}
@media (max-width:991px) {
    .flow-title{
        height:25px;
    }
    .flow-box-parent{
        display:none;
    }
    .flow-box-parent-sm{
        display:block;
    }
    .flow-box-sm{
        height:150px;
    }
    .flow-sm{
        width:40px;
        position:relative;
    }
    .flow-sm img{
        height:30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
    }
    .flow-image-sm{
        width:120px;
        text-align:center;
        position:relative;
    }
    .flow-image-text-sm{
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
    }
    .flow-image-top-sm{
        font-family: 'Noto Sans JP', sans-serif; 
        font-size:18px; 
        font-weight:400;
    }
    .flow-image-sub-sm{
        color:#a1d4d1;
        font-family: 'Noto Sans JP', sans-serif; 
        font-size:10px; 
        font-weight:400;
        font-style:italic;
    }
    .flow-text-parent-sm{
        width:200px;
        position:relative;
        text-align:left;
    }
    .flow-text-sm{
        padding-left:10px;
        width:190px;
        font-family: 'Noto Sans JP', sans-serif; 
        font-size:10px; 
        font-weight:400;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-48%);
        -webkit-transform: translateY(-50%) translateX(-48%);
    }
}
/* STAFF */
#staff{
    margin:50px 0 -100px 0;
    position:relative;
    height:500px;
}
.staff-title{
    margin-bottom:5px;
    height:35px;
}
.staff-box-parent{
    position:relative;
    margin-top:30px;
}
.staff-box-parent-sm{
    display:none;
}
.staff-background{
    position:absolute;
    top:60px;
    z-index:-1;
    background-color:#a1d4d1;
    width:90%;
    height:270px;
}
.staff-box1{
    /* スタッフ写真 */
    width:350px;
    height:242px;
    margin:20px;
}
.staff-box2{
    /* スタッフ説明ボックス */
    text-align:left;
    max-width:500px;
    width:40%;
    height:250px;
    top:20px;
    position:relative;
}
.staff-text-name{
    /* スタッフ名 */
    position:absolute;
    top:80px;
    color:white;
    font-family: 'Noto Sans JP', sans-serif; 
    font-size:24px; 
    font-weight:400;
}
.staff-text{
    /* スタッフ説明文 */
    position:absolute;
    top:140px;
    color:white;
    font-family: 'Noto Sans JP', sans-serif; 
    font-size:16px; 
    font-weight:400;
}
@media (max-width:991px) {
    #staff{
        margin-bottom:-150px;
        height:560px;
    }
    .staff-title{
        height:30px;
    }
    .staff-background{
        position:absolute;
        background-color:#a1d4d1;
        text-align:left;
        top:280px;
        width:90%;
        height:300px;
    }
    .staff-box-parent{
        display:none;
    }
    .staff-box-parent-sm{
        display:block;
        position:relative;
        margin-top:100px;
    }
    .staff-box1-sm{
        /* スタッフ写真 */
        width:300px;
        height:auto;
    }
    .staff-box2-sm{
        /* スタッフ説明ボックス */
        text-align:left;
        top:-100px;
        z-index:-1;
        width:100%;
        height:300px;
        position:relative;
        background-color:#a1d4d1;
    }
    .staff-text-name-sm{
        /* スタッフ名 */
        position:absolute;
        margin:0 40px;
        top:120px;
        color:white;
        font-family: 'Noto Sans JP', sans-serif; 
        font-size:14px; 
        font-weight:400;
    }
    .staff-text-sm{
        /* スタッフ説明文 */
        position:absolute;
        margin:0 40px;
        top:150px;
        color:white;
        font-family: 'Noto Sans JP', sans-serif; 
        font-size:12px; 
        font-weight:400;
    }

}

/* reserve */

.reserve-btn{
    margin:100px 0;
    width:400px;
}
.reserve-btn-sm{
    display:none;
}
@media (max-width:991px) {
    .reserve-btn{
        display:none;
    }
    .reserve-btn-sm{
        display:block;
        margin:100px auto 50px;
        width:300px;
        pointer-events: none;
    }
}
/* footer */
footer{
    background-color:#00718C;
    height:200px;
}
.contact-btn{
    width:180px;
}
.footer-icon a{
    color:#fff;
    padding:10px;
}
.logo-white{
    width:130px;
}
@media (max-width:991px) {
    footer{
        height:130px;
    }
    .footer-icon{
        order:2;
    }
    .footer-icon i{
        font-size:15px;
    }
    .footer-logo{
        order:1;
    }
    .footer-contact{
        display:none;
    }
    .logo-white{
        width:80px;
    }
}